<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>TFG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
  <div class="container col-12">
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	<div th:replace="fragments/mensaje :: mensaje"></div>
  	
  	<div class="tabla col-12 col-md-10">
  		<h1 class="titulo" th:text="${asignatura.nombre}"></h1>
  		<ul class="nav nav-tabs separador-tablas" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="retos-tab" data-toggle="tab" href="#retos" role="tab" aria-controls="retos" aria-selected="true">Retos</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="alumnos-tab" data-toggle="tab" href="#alumnos" role="tab" aria-controls="alumnos" aria-selected="false">Gamificación</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="analiticas-tab" data-toggle="tab" href="#analiticas" role="tab" aria-controls="analiticas" aria-selected="false">Analíticas</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="insignias-tab" data-toggle="tab" href="#insignias" role="tab" aria-controls="insignias" aria-selected="false">Insignias</a>
		  </li>
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="retos" role="tabpanel" aria-labelledby="retos-tab">
		  	<table th:replace="fragments/tablas :: tablaRetos"></table>
		  </div>
		  <div class="tab-pane fade" id="alumnos" role="tabpanel" aria-labelledby="alumnos-tab">
			<table th:replace="fragments/tablas :: tablaAlumnos"></table>
		  </div>
		  <div class="tab-pane fade" id="analiticas" role="tabpanel" aria-labelledby="analiticas-tab">
		    <form class="col-8 mx-auto pt-4">
			  <div class="form-group row">
			    <label for="diagramasSelect" class="col-sm-2 col-form-label" style="color: white;">Mostrar: </label>
			    <div class="col-sm-10">
				    <select class="form-control" id="diagramasSelect">
				      <option>Gráfico de líneas de tiempo acumulado</option>
				      <option>Gráfico de barras de tiempo de respuesta</option>
				      <option>Gráfico de barras de aciertos</option>
				      <option>Tabla de contenido de resultados</option>
				    </select>
				</div>
			  </div>
		    </form>
		    <div class="contenedor-graficos">
		    	<h2>Gráfico de líneas de tiempo acumulado</h2>
		    	<canvas id="diagramaTiempoLineas"></canvas>
		    </div>
		    <div class="contenedor-graficos">
		    	<h2>Gráfico de barras de tiempo de respuesta</h2>
		    	<canvas id="diagramaTiempoBarras"></canvas>
		    </div>
		    <div class="contenedor-graficos">
		    	<h2>Gráfico de barras de aciertos</h2>
		    	<canvas id="diagramaAciertosBarras"></canvas>
		    </div>			
			<div  class="contenedor-graficos" id="tablaResultados">
				<h2>Tabla de contenido de resultados</h2>
				<table th:replace="fragments/tablas :: tablaAnaliticas"></table>
			</div>			
		  </div>
		  <div class="tab-pane fade" id="insignias" role="tabpanel" aria-labelledby="insignias-tab">
			<table th:replace="fragments/tablas :: tablaInsignias"></table>
		  </div>
		</div>	  	
	</div>
	
	<!-- MODAL AÑADIR ALUMNO -->
	<div th:replace="fragments/modals :: modalNuevoAlumno"></div>
	
	<!-- MODAL AÑADIR RETO -->
	<div th:replace="fragments/modals :: modalNuevoReto"></div>
	
		<!-- MODAL AÑADIR insignia -->
	<div th:replace="fragments/modals :: modalNuevaInsignia"></div>
	
	<!-- Optional JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	
	<script>
		$(document).ready(function(){
			$("#diagramaTiempoLineas").parent().show();
			$("#diagramaTiempoBarras").parent().hide();
			$("#diagramaAciertosBarras").parent().hide();
			$("#tablaResultados").hide();
			$("#diagramasSelect").change(function(){
			    if($(this).val() == "Gráfico de líneas de tiempo acumulado"){
			    	$("#diagramaTiempoLineas").parent().show();
					$("#diagramaTiempoBarras").parent().hide();
					$("#diagramaAciertosBarras").parent().hide();
					$("#tablaResultados").hide();
			    }
			    else if($(this).val() == "Gráfico de barras de tiempo de respuesta"){
			    	$("#diagramaTiempoLineas").parent().hide();
					$("#diagramaTiempoBarras").parent().show();
					$("#diagramaAciertosBarras").parent().hide();
					$("#tablaResultados").hide();
			    }
			    else if($(this).val() == "Gráfico de barras de aciertos"){
			    	$("#diagramaTiempoLineas").parent().hide();
					$("#diagramaTiempoBarras").parent().hide();
					$("#diagramaAciertosBarras").parent().show();
					$("#tablaResultados").hide();
			    }
			    else if($(this).val() == "Tabla de contenido de resultados"){
			    	$("#diagramaTiempoLineas").parent().hide();
					$("#diagramaTiempoBarras").parent().hide();
					$("#diagramaAciertosBarras").parent().hide();
					$("#tablaResultados").show();
			    }
			});
		});
	</script>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		var resultados = /*[[${resultados}]]*/; //Extrae los resultados desde Thymeleaf
		var diccAlumnos = generarDiccionario();
		var colores = ["#D32F2F", "#1976D2", "#388E3C", "#FBC02D", "#F57C00", "#C2185B", "#512DA8", "#0097A7", "#6D4C41", "#616161"];
		var reto = "Prueba Inicial";
		
		Chart.defaults.global.defaultFontColor = "white";	
		var ctxTiempoLineas = document.getElementById("diagramaTiempoLineas").getContext('2d');
		var ctxTiempoBarras = document.getElementById("diagramaTiempoBarras").getContext('2d');
		var ctxAciertosBarras = document.getElementById("diagramaAciertosBarras").getContext('2d');
		var diagramaTiempoLineas = generarDiagrama("line", ctxTiempoLineas);
		var diagramaTiempoBarras = generarDiagrama("bar", ctxTiempoBarras);
		var diagramaAciertosBarras = generarDiagramaBarrasApilado(ctxAciertosBarras);
		
		function generarDiccionario(){
			var diccAlumnos = new Map();
			//Para cada resultado lo añade a un diccionario con alumno como clave
			resultados.forEach(function(fila) {
				if(!diccAlumnos.has(fila.alumno)){
					diccAlumnos.set(fila.alumno, {
						aciertos: [fila.correcta],
						preguntas: [fila.pregunta],
						respuestas: [fila.respuesta],
						tiempos: [fila.tiempo],
						tiemposAcumulados: [fila.tiempo]
					});
				}
				else{
					var ultimoTiempoAcumulado = diccAlumnos.get(fila.alumno).tiemposAcumulados[diccAlumnos.get(fila.alumno).tiemposAcumulados.length - 1];
					var aciertos = diccAlumnos.get(fila.alumno).aciertos;
					aciertos.push(fila.correcta);
					var preguntas = diccAlumnos.get(fila.alumno).preguntas;
					preguntas.push(fila.pregunta);
					var respuestas = diccAlumnos.get(fila.alumno).respuestas;
					respuestas.push(fila.respuesta);
					var tiempos = diccAlumnos.get(fila.alumno).tiempos;
					tiempos.push(fila.tiempo);
					var tiemposAcumulados = diccAlumnos.get(fila.alumno).tiemposAcumulados;
					tiemposAcumulados.push(ultimoTiempoAcumulado + fila.tiempo);
					
					diccAlumnos.set(fila.alumno, {
						aciertos: aciertos,
						preguntas: preguntas,
						respuestas: respuestas,
						tiempos: tiempos,
						tiemposAcumulados: tiemposAcumulados
					});
				}
			});
			
			return diccAlumnos;
		}		
		
		function obtenerLabels(){
			labels = new Array();
			for (i = 0; i < resultados.length/diccAlumnos.size; i++) {
				labels.push("Pregunta ".concat(i + 1));				
			}
			return labels;
		}
		
		function obtenerColor(indice){
			if(indice < colores.length)
				return colores[indice];
			else
				return Math.floor(Math.random() * (colores.length));
		}
		
		function  obtenerPorcentajeAciertosPregunta(){
			var listaPorcentajeAciertosPregunta = new Array();
			var contadorAciertos;
			var numeroPreguntas = resultados.length/diccAlumnos.size;
			for (i = 0; i < numeroPreguntas; i++) {
				contadorAciertos = 0;
				Array.from(diccAlumnos).forEach(function (elemento, indice){
					contadorAciertos += (elemento[1].aciertos[i] === true ? 1 : 0);					
				});
				listaPorcentajeAciertosPregunta.push((contadorAciertos / diccAlumnos.size * 100).toFixed(2));
			}
			return listaPorcentajeAciertosPregunta;
		}
		
		function generarDiagrama(tipo, ctx){
			return new Chart(ctx, {
				type: tipo,
				data: {
					labels: obtenerLabels(),
					datasets: Array.from(diccAlumnos).map(function (elemento, indice){
						color = obtenerColor(indice);
						return {
							label: elemento[0],
							backgroundColor: color,
							borderColor: color,
							data: tipo == "line" ? elemento[1].tiemposAcumulados : elemento[1].tiempos,
							fill: false
						};
					})
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true,
							},
							gridLines: {
							  color: "#32383e"
							},
							scaleLabel: {
								display: true,
								labelString: 'Tiempo de respuesta (segundos)'
							}
						}],
						xAxes: [{
							gridLines: {
							  color: "#32383e"
							}
						}],
					},
					tooltips: {
						callbacks: {
							label: function(tooltipItem, data) {
								var label = data.datasets[tooltipItem.datasetIndex].label || '';
								if(tipo == "line"){
									if (label) {
										label += ': ';
									}
									label += tooltipItem.yLabel + " segundos totales";
								}
								
								return label;
							},
							footer: function(tooltipItems, data) {
								idUsuario = tooltipItems[0].datasetIndex; //Usuario
								idPregunta = tooltipItems[0].index; //Pregunta
								var footer = ["Pregunta: " + Array.from(diccAlumnos)[idUsuario][1].preguntas[idPregunta],
											  "Respuesta: " + Array.from(diccAlumnos)[idUsuario][1].respuestas[idPregunta],
											  "Correcta: " + (Array.from(diccAlumnos)[idUsuario][1].aciertos[idPregunta] === true ? "Sí" : "No"),
											  "Tiempo de respuesta: " + Array.from(diccAlumnos)[idUsuario][1].tiempos[idPregunta] + " segundos"];
								return footer;
							}
						},
						footerFontStyle: "normal"
					}
				}
			});
		}
		
		function generarDiagramaBarrasApilado(ctx){
			var listaPorcentajeAciertosPregunta = obtenerPorcentajeAciertosPregunta();
			
			return new Chart(ctx, {
				type: 'bar',
				data: {
					labels: obtenerLabels(),
					datasets: [{
						label: 'Correcta',
						backgroundColor: "#388E3C",
						data: listaPorcentajeAciertosPregunta
					}, {
						label: 'Incorrecta',
						backgroundColor: "#D32F2F",
						data: listaPorcentajeAciertosPregunta.map(function (elemento){
							return 100 - elemento;
						})
					}]
				},
				options: {
					tooltips: {
						mode: 'index',
						intersect: false,
						callbacks: {
							label: function(tooltipItem, data) {
								var label = data.datasets[tooltipItem.datasetIndex].label || '';
		
								if (label) {
									label += ': ';
								}
								label += tooltipItem.yLabel + " %";
								return label;
							},
							footer: function(tooltipItems, data) {
								idUsuario = tooltipItems[0].datasetIndex; //Usuario
								idPregunta = tooltipItems[0].index; //Pregunta
								var footer = ["Pregunta: " + Array.from(diccAlumnos)[idUsuario][1].preguntas[idPregunta]];
								return footer;
							}
						},
						footerFontStyle: "normal"
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
							gridLines: {
								color: "#32383e"
							}
						}],
						yAxes: [{
							stacked: true,
							gridLines: {
								color: "#32383e"
							},
							scaleLabel: {
								display: true,
								labelString: 'Aciertos por pregunta (%)'
							}
						}]
					}
				}
			});			
		}		
	/*]]>*/
	</script>    
  </div>
  </body>
</html>